body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: beige;
}

.gridContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    width: 500px;
    height: 70vh;
    gap: 0px;
    margin-left: 20px;
}

.grid-items{
    border-style: solid;
    border-radius: thin;
    width: 2vw;
    height: 5vh;
    background-color: white;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#color{
    border: none;
    padding: 0px;
}